<h2>New Stock</h2>

<form action="/floorplans" method='post'>

    <p>
        <label> Year: </label>
        <input type="integer" name="year" placeholder="Stock Year"/>
    </p>

    <p>
        <label> Make: </label>
        <input type="text" name="make" placeholder="Stock Make"/>
    </p>

    <p>
        <label> Model: </label>
        <input type="text" name="model" placeholder="Stock Model"/>
    </p>

    <p>
        <label> Color: </label>
        <input type="text" name="color" placeholder="Stock Color"/>
    </p>

    <p>
        <label> Amount: </label>
        <input type="text" name="amount" placeholder="Stock Amount"/>
    </p>

        <p><input type="Submit" value="Enter"/></p> 
</form>